langchain
langchain-community
langchain-core
langchain-classic
langchain-openai
langchain-text-splitters
openai
pypdf
tiktoken
aiofiles
fastapi
uvicorn
jinja2
python-multipart
PyPDF2
faiss-cpu
python-dotenv
setuptools
-e .